.button {
	-fx-background-color: #dddddd ; 
	-fx-background-radius: 0,0,0,0;
}
.button:hover {
	-fx-background-color: #3f9fff;
	-fx-background-radius: 0,0,0,0;
	-fx-border-width:0;
}
.button:pressed {
	-fx-background-color: #258ef7;
	-fx-background-radius: 0,0,0,0;
}
.controlbutton {
	-fx-border-radius:2;
	-fx-border-style:solid;
	-fx-border-color: #258ef7;
}
.warnbutton {
	-fx-background-color: #dddddd ; 
	-fx-background-radius: 0,0,0,0;
	-fx-border-radius:2;
	-fx-border-style:solid;
	-fx-border-color: #ff7066;
}
.warnbutton:hover {
	-fx-background-color: #ff5f54;
	-fx-background-radius: 0,0,0,0;
	-fx-border-width:0;
}
.warnbutton:pressed {
	-fx-background-color: #ff493d;
	-fx-background-radius: 0,0,0,0;
}
.sidebar {
	-fx-background-color: #898989;
}
.contentpane {
	-fx-background-color: #efefef;
}
.settingslabel {
	-fx-background-radius: 50;
	-fx-background-color: #dddddd;
        -fx-border-radius:50;
        -fx-alignment:center;
}
.searchbutton {
	-fx-background-radius: 50;
	-fx-border-radius:50;
}
.searchbutton:hover {
	-fx-background-radius: 50;
	-fx-border-radius:50;
}
.searchbutton:pressed {
	-fx-background-radius: 50;
	-fx-border-radius:50;
}
ComboBox {
	-fx-background-color: #dddddd;
}
TextField {
        -fx-alignment: center;
}
.searchfield {
        -fx-background-color: #ffffff;
	-fx-background-radius: 50;
}
.table-column {
    -fx-alignment: CENTER;
}
.messagepane {
        -fx-background-color: #9e9e9e;
}